<!-- <section class="home-section">
  <nav class="flex items-center justify-between p-4 md:p-6">
    <div class="sidebar-button">
      <i class="bx bx-menu sidebarBtn text-xl"></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box flex items-center">
      <input type="text" placeholder="Search..." class="py-1 px-2 border border-gray-300 rounded-md focus:outline-none" />
      <i class="bx bx-search ml-2"></i>
    </div>
    <div class="profile-details">
      <i class="bx bx-log-out text-xl"></i>
      <a href="<%= destroy_user_session_path %>" class="ml-2">Logout</a>
    </div>
  </nav>
</section> -->


<section class="custom-home-section">
  <nav class="flex items-center justify-between p-4 md:p-6">
    <div class="sidebar-button">
      <i class="bx bx-menu sidebarBtn text-xl"></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box flex items-center">
      <input type="text" placeholder="Search..." class="py-1 px-2 border border-gray-300 rounded-md focus:outline-none" />
      <i class="bx bx-search ml-2"></i>
    </div>
    <div class="profile-details">
      <i class="bx bx-log-out text-xl"></i>
      <a href="<%= destroy_user_session_path %>" class="ml-2">Logout</a>
    </div>
  </nav>
</section>
